Repository CSSUoB/cssuob.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LikkanChung, @Danyc0, @jedevc, @AlexJBanks

.github/CODEOWNERS:

# cssuob.github.io CODEOWNERS
# automatic PR review requests

# Global Owners
# Default requesters
* @LikkanChung @Danyc0

# Backend
/_scrips/ @jedevc @LikkanChung @Danyc0
/admin/ @jedevc @LikkanChung @Danyc0
Dockerfile @jedevc @LikkanChung @Danyc0
Gemfile @jedevc @LikkanChung @Danyc0
Gemfile.lock @jedevc @LikkanChung @Danyc0

# Frontend
/collections/ @AlexJBanks @LikkanChung @Danyc0
/_data/redirects.yaml @AlexJBanks @LikkanChung @Danyc0
*.html @AlexJBanks @LikkanChung @Danyc0
*.md @AlexJBanks @LikkanChung @Danyc0

Update Fonts in line with rest of branding (#133)
  _layouts/post.html
  about.html
  clubs.html
  css/calendar.scss
  css/committee.scss
  css/main.scss
  css/posts.scss
  css/type.scss
  fonts/Inconsolata-Bold.eot
  fonts/Inconsolata-Bold.ttf
  fonts/Inconsolata-Regular.eot
  index.html
  js/calendar.js
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Reworked about button CSS [Issue #138]
  assets/about/discord-logo.svg
  css/about.scss
Owners: @LikkanChung, @Danyc0

Reworked about button CSS [Issue #138]
  assets/about/discord-logo.svg
Owners: @LikkanChung, @Danyc0

Removed animated emojis, replaced with static emojis. Reworked Awards section. [Issue #138]
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Removed new lines from auto formatting
  about.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Removed incorrect auto formatting
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Changed contact emoji
  about.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Changed emojis to be more universal
  about.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Squash: Resize /about buttons and streamline emoji usage (#139)
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Create Newsletter “2021-08-18-freshers-welcome-2021”
  assets/images/css-logo-colour-background-bold.png
  collections/_news/2021-08-18-freshers-welcome-2021.md
Owners: @LikkanChung, @Danyc0, @AlexJBanks

Make <a> TeX Purple
  css/clubs.scss
  css/main.scss
  css/normalize.css
  css/posts.scss
Owners: @LikkanChung, @Danyc0

Clean up redirects
  _data/redirects.yaml
  about.html
  index.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add temporary banner
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Adjust Margin and Padding
  css/about.scss
  css/main.scss
Owners: @LikkanChung, @Danyc0

adds sponsorship pdf
  CSS_Sponsorship.pdf
Owners: @LikkanChung, @Danyc0

Adds redirect for /sponsor
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Include banner on all pages
  _layouts/page.html
  _layouts/post.html
  about.html
  css/about.scss
  css/main.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Remove accidental <br>
  _layouts/page.html
  _layouts/post.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add sponsorship pdf
  CSS_Sponsorship.pdf
Owners: @LikkanChung, @Danyc0

Add /sponsor redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Correct comment for /sponsor redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Resize photos
  assets/committee/2021-22/mini/aamaan.jpg
  assets/committee/2021-22/mini/fatima.jpg
  assets/committee/2021-22/mini/jack.png
  assets/committee/2021-22/mini/ryan.png
Owners: @LikkanChung, @Danyc0

Resize committee photos
  assets/committee/2021-22/mini/aamaan.jpg
  assets/committee/2021-22/mini/fatima.jpg
  assets/committee/2021-22/mini/jack.png
  assets/committee/2021-22/mini/ryan.png
Owners: @LikkanChung, @Danyc0

Resize committee photos (#155)
  assets/committee/2021-22/mini/aamaan.jpg
  assets/committee/2021-22/mini/fatima.jpg
  assets/committee/2021-22/mini/jack.png
  assets/committee/2021-22/mini/ryan.png
Owners: @LikkanChung, @Danyc0

Add GitHub link to redirects
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add GitHub to the CSS for the about page
  css/about.scss
Owners: @LikkanChung, @Danyc0

Added GitHub link to the about page
  about.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update about.scss
  css/about.scss
Owners: @LikkanChung, @Danyc0

Add Youtube link to index page
  index.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Fix index page fade-in animation
  css/type.scss
Owners: @LikkanChung, @Danyc0

Add GitHub link to the about page (#158)
  _data/redirects.yaml
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add YouTube link to index page
  index.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Fix index page fade-in animation
  css/type.scss
Owners: @LikkanChung, @Danyc0

Add block colour buttons
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Replace Constitution links
  about.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Constitution redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update Constitution pdf
  constitution.pdf
Owners: @LikkanChung, @Danyc0

Add SCSS for Constitution section
  css/about.scss
Owners: @LikkanChung, @Danyc0

Rewrite Constitution html
  about.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update sponsorship proposal with new tiers + rename
  CSS_Sponsorship.pdf
  CSS_Sponsorship_Proposal.pdf
Owners: @LikkanChung, @Danyc0
