Repository CSSUoB/cssuob.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LikkanChung, @Danyc0, @jedevc, @AlexJBanks

Add winter graduate redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add winter graduate redirect (#202)
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add hoodie purchase redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update committee member pronouns
  _data/committee/2021-22.yaml
Owners: @LikkanChung, @Danyc0

add non-plural hoodie redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Remove unused redirects
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Jan 2022 EGM Agenda
  _data/redirects.yaml
  assets/agendas/agenda_22_01_28.pdf
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add sponsor, UoB and guild logo assets
  assets/amex-logo.png
  assets/guild-logo.png
  assets/kainos-logo.png
  assets/uob-logo.png
Owners: @LikkanChung, @Danyc0

Add sponsor and UoB/Guild section to /about
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Correct Agenda item 2
  assets/agendas/agenda_22_01_28.pdf
Owners: @LikkanChung, @Danyc0

Add Jan 2022 EGM Agenda (#207)
  _data/redirects.yaml
  assets/agendas/agenda_22_01_28.pdf
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add python and bot workshops to /clubs
  assets/images/bot-workshop.jpg
  assets/images/python-workshop.jpg
  collections/_clubs/2020-02-20-hashcode.md
  collections/_clubs/2021-10-13-python-workshop.md
  collections/_clubs/2021-11-26-discord-botathon.md
Owners: @LikkanChung, @Danyc0, @AlexJBanks

Add date fontstyle to older posts in /clubs
  clubs.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Fix format and styling issues
  assets/images/bot-workshop.jpg
  assets/images/python-workshop.jpg
  clubs.html
  collections/_clubs/2021-11-26-discord-botathon.md
  css/clubs.scss
  css/main.scss
Owners: @LikkanChung, @Danyc0, @AlexJBanks

Add Autumn 2021 Newsletter
  assets/images/2021-autumn/bouldering.jpg
  assets/images/2021-autumn/halloween.jpg
  assets/images/2021-autumn/icon.jpg
  assets/images/2021-autumn/mingmoon.jpg
  collections/_news/2022-01-29-autumn-2021.md
Owners: @LikkanChung, @Danyc0, @AlexJBanks

Add line break before signoff
  collections/_news/2022-01-29-autumn-2021.md
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Autumn 2021 Newsletter (#213)
  assets/images/2021-autumn/bouldering.jpg
  assets/images/2021-autumn/halloween.jpg
  assets/images/2021-autumn/icon.jpg
  assets/images/2021-autumn/mingmoon.jpg
  collections/_news/2022-01-29-autumn-2021.md
Owners: @LikkanChung, @Danyc0, @AlexJBanks

Edit old redirects for git workshop
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Feb 2022 EGM Agenda
  _data/redirects.yaml
  assets/agendas/agenda_22_02_15.pdf
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Feb 2022 EGM Agenda (#216)
  _data/redirects.yaml
  assets/agendas/agenda_22_02_15.pdf
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update Constitution to 22-01-28 version.
  constitution.pdf
Owners: @LikkanChung, @Danyc0

Update Constitution to 22-01-28 version. (#217)
  constitution.pdf
Owners: @LikkanChung, @Danyc0

Fix sponsor section formatting
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Fix Punctuation
  collections/_clubs/2021-10-13-python-workshop.md
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add logo assets
  assets/amex-logo.png
  assets/guild-logo.png
  assets/kainos-logo.png
  assets/uob-logo.png
Owners: @LikkanChung, @Danyc0

Add Guild, UoB and Sponsor logos to /about
  about.html
  css/about.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Bletchley Park redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update sponsorship contact details
  CSS_Sponsorship_Proposal.pdf
Owners: @LikkanChung, @Danyc0

Update pronouns
  _data/committee/2021-22.yaml
Owners: @LikkanChung, @Danyc0

Add 'Soon' page
  css/soon.scss
  soon.html
Owners: @LikkanChung, @Danyc0, @AlexJBanks

Fix scaling
  css/soon.scss
  soon.html
Owners: @LikkanChung, @Danyc0, @AlexJBanks

.github/CODEOWNERS:

# cssuob.github.io CODEOWNERS
# automatic PR review requests

# Global Owners
# Default requesters
* @LikkanChung @Danyc0

# Backend
/_scrips/ @jedevc @LikkanChung @Danyc0
/admin/ @jedevc @LikkanChung @Danyc0
Dockerfile @jedevc @LikkanChung @Danyc0
Gemfile @jedevc @LikkanChung @Danyc0
Gemfile.lock @jedevc @LikkanChung @Danyc0

# Frontend
/collections/ @AlexJBanks @LikkanChung @Danyc0
/_data/redirects.yaml @AlexJBanks @LikkanChung @Danyc0
*.html @AlexJBanks @LikkanChung @Danyc0
*.md @AlexJBanks @LikkanChung @Danyc0
