Repository CSSUoB/cssuob.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LikkanChung, @Danyc0, @jedevc, @AlexJBanks

Correct redirect for new pdf name
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Ming-Moon redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Fix Ming-Moon link
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add redirect for calendar typo
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Correct padding on final Contact Us page
  CSS_Sponsorship_Proposal.pdf
Owners: @LikkanChung, @Danyc0

Add case-sensitive Ming-Moon redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add 404 CTA
  404.html
  css/main.scss
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Make pathnames lowercase before checking redirects
  js/redirect.js
Owners: @LikkanChung, @Danyc0

Make redirects case-insensitive
  js/redirect.js
Owners: @LikkanChung, @Danyc0

Add Scavenger Hunt redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update contact method
  404.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Hide banner temporarily
  css/main.scss
Owners: @LikkanChung, @Danyc0

Add redirect for Guild admin page
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add EGM agenda and redirect
  _data/redirects.yaml
  agendas.md
  assets/agendas/agenda_21_10_20.pdf
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Agenda branch
  agendas.md
  assets/agendas/agenda-20_10_28.pdf
  assets/agendas/agenda_21_01_20.pdf
  assets/agendas/agenda_21_02_05.pdf
  assets/agendas/agenda_21_02_12.pdf
  assets/agendas/agenda_21_02_19.pdf
  assets/agendas/agenda_21_02_26.pdf
  assets/agendas/agenda_21_03_05.pdf
  assets/agendas/agenda_21_03_12.pdf
  assets/agendas/agenda_21_03_19.pdf
  assets/agendas/agenda_21_03_26.pdf
  assets/agendas/agenda_21_04_02.pdf
  assets/agendas/agenda_21_04_09.pdf
  assets/agendas/agenda_21_04_16.pdf
  assets/agendas/agenda_21_04_21.pdf
  assets/agendas/agenda_21_04_23.pdf
  assets/agendas/agenda_21_04_30.pdf
  assets/agendas/agenda_21_05_07.pdf
  assets/agendas/agenda_21_05_21.pdf
  assets/agendas/agenda_21_05_28.pdf
  assets/agendas/agenda_21_06_04.pdf
  assets/agendas/agenda_21_06_11.pdf
  assets/agendas/agenda_21_06_18.pdf
  assets/agendas/agenda_21_06_25.pdf
  assets/agendas/agenda_21_07_02.pdf
  assets/agendas/agenda_21_07_09.pdf
  assets/agendas/agenda_21_07_16.pdf
  assets/agendas/agenda_21_07_23.pdf
  assets/agendas/agenda_21_07_30.pdf
  assets/agendas/agenda_21_08_06.pdf
  assets/agendas/agenda_21_08_13.pdf
  assets/agendas/agenda_21_08_20.pdf
  assets/agendas/agenda_21_08_27.pdf
  assets/agendas/agenda_21_09_03.pdf
  assets/agendas/agenda_21_09_10.pdf
  assets/agendas/agenda_21_09_17.pdf
  assets/agendas/agenda_21_09_24.pdf
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update agendas.md
  agendas.md
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Correct typo in item 2: 2020 -> 2021
  assets/agendas/agenda_21_10_20.pdf
Owners: @LikkanChung, @Danyc0

Add Python workshop redirect, and better labels
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

add python workshop redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

add python workshop redirect (#186)
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update agendas.md for the EGM to AGM correction and removing a duplicate entry
  agendas.md
Owners: @AlexJBanks, @LikkanChung, @Danyc0

add Joel Blake redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

add Halloween redirects
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

add bouldering redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

commit message
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Remove unnecessary redirects
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Sponsor Logos
  assets/images/logos/american_express_logo.png
  assets/images/logos/kainos_logo.webp
  assets/images/logos/university_of_birmingham_logo.png
Owners: @LikkanChung, @Danyc0

Add Sponsorship Logos
  index.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Correct file links
  index.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Correct Slashes in Links
  index.html
Owners: @AlexJBanks, @LikkanChung, @Danyc0

add bouldering link
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

add christmas redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

remove "temporary" christmas folder obstructing redirect
  christmas/1.jpg
  christmas/2.png
  christmas/chrimsas.jpg
  christmas/index.html
  christmas/noscript.html
  christmas/script.js
  christmas/styles.css
Owners: @LikkanChung, @Danyc0, @AlexJBanks

Add boardgames redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add Bot Workshop redirects
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add pre-workshop slides pdf
  assets/events/bot-workshop/Pre-Workshop.pdf
Owners: @LikkanChung, @Danyc0

Add redirects for preworkshop and botworkshop
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Update committee member profile
  _data/committee/2021-22.yaml
  assets/committee/2021-22/full/leaf.jpg
  assets/committee/2021-22/mini/leaf.jpg
Owners: @LikkanChung, @Danyc0

Add winter graduation redirect
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

Add winter graduation redirect (#201)
  _data/redirects.yaml
Owners: @AlexJBanks, @LikkanChung, @Danyc0

.github/CODEOWNERS:

# cssuob.github.io CODEOWNERS
# automatic PR review requests

# Global Owners
# Default requesters
* @LikkanChung @Danyc0

# Backend
/_scrips/ @jedevc @LikkanChung @Danyc0
/admin/ @jedevc @LikkanChung @Danyc0
Dockerfile @jedevc @LikkanChung @Danyc0
Gemfile @jedevc @LikkanChung @Danyc0
Gemfile.lock @jedevc @LikkanChung @Danyc0

# Frontend
/collections/ @AlexJBanks @LikkanChung @Danyc0
/_data/redirects.yaml @AlexJBanks @LikkanChung @Danyc0
*.html @AlexJBanks @LikkanChung @Danyc0
*.md @AlexJBanks @LikkanChung @Danyc0
